# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

**Objectives:**
    
- How to create headers with variours header desighs
- How to make simple calculations
- How to create table of content
- How to create ordered list
- How to create unordered list
- List of popular Data Science libraries
- List of popular Data Science Tools

Some of the commonly used libraries used by Data Scientists include:

1. Panda
2. ggplot
3. NumPy
4. ApacheSpark
5. TensorFlow
6. SciKit
7. MatplotLib

|Data Science Tools|
|------------------|
|R Studio |
|Jupiter Notebook|
|MySQL|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
x=(3*4)+5

print(x)

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
x=200/60

print (x)

3.3333333333333335

## Author: 
## Marinos Kaitis